[2011-02-15 16:49] bnutzer opened #2 "checkend returns opposite of what is documented"
Hi,

Crypt::OpenSSL::X509::checkend returns the opposite of what is documented. E.g., for a certificate that expires tomorrow, $x509->checkend(1) returns false, while $x509->checkend(172800) returns true.

The documentation suggests the opposite.

Oh, yes, the code "works" correctly in that it does what the code says it should do. I'd rather suggest not to modify the code, but to modify/fix the do

[2011-04-08 16:56] jquelin opened #5 "i586 build broken"
when updating crypt::openssl::x509 for mageia, it builds correctly on my machine, but when sending it on the build system, it fails with the following error:

$ /usr/bin/perl Makefile.PL INSTALLDIRS=vendor
Checking if your kit is complete...
Looks good
Unrecognized argument in LIBS ignored: 'ARRAY(0x9519b40)'
Writing Makefile for Crypt::OpenSSL::X509
$ make 'CFLAGS=-O2 -g -pipe -Wformat -Werror=fo

[2011-04-12 11:41] #5 closed, assigned to nobody

[2011-04-13 08:53] jquelin opened #6 "wrong version prevents cpanplus to upgrade"
new bugfix version on cpan is 1.7.1, which is not considered to be greater than 1.7 by cpanplus.
indeed, 1.7 is understood as 1.70, or 1.700.0 by version when using canonical x.y.z versioning. and those are greater than 1.7.1 (understood as 1.007001)

yes, versioning sucks.

you should release an update using the following versioning:
- either 1.8 (to follow your x.y original versioning scheme)
-

[2011-04-13 13:25] #6 closed, assigned to nobody

[2011-04-15 23:05] DannyThomas opened #7 "bug in bundled Module::Install::Compiler::cc_lib_links ?"
Crypt-OpenSSL-X509-1.8.tar.gz under perl-5.10.1 on RHEL6

The following text appears when running "perl Makefile.PL"
  Unrecognized argument in LIBS ignored: 'ARRAY(0x216b320)'

The 'ARRAY...' comes from the call to makemaker_args from
  inc/Module/Install/Compiler::cc_lib_links

%args just before the call to ExtUtils::MakeMaker::WriteMakefile
in inc/Module/Install/Makefile::write contains
  LIBS=

[2011-04-15 23:07] DannyThomas opened #8 "2 tests fail with openssl 1.0.0 (on RHEL6)"
Crypt-OpenSSL-X509-1.8.tar.gz under perl-5.10.1 on RHEL6
# cat /etc/redhat-release

Red Hat Enterprise Linux Server release 6.0 (Santiago)
# openssl version

OpenSSL 1.0.0-fips 29 Mar 2010

THe problem initially noticed when CPANPLUS failed to install the module,
but the following was done by hand.

See below for "make test" output, but the tests succeed after
changing t/utf8.t, t/x509.t from
  (C

[2011-05-06 22:06] carnil opened #9 "Fails to build with gcc-4.6 -Werror"
Hi

In Debian we got the following Bugreport regarding build failure with gcc-4.6 [1], reported by Matthias Klose.

 [1] http://bugs.debian.org/625361

Thanks for your work on Crypt::OpenSSL::x509!

Bests
Salvatore

[2011-05-08 03:24] #9 closed, assigned to nobody

[2011-05-08 03:30] #8 closed, assigned to nobody

[2011-05-09 15:32] hardaker opened #10 "Non-conformant versioning"
I actually think the CPAN/perl requirements for versioning are silly, but I did a while back convert all my modules to use the recommended "floating-point-number" type versioning (ie, only a single '.' is allowed).  Your recent changelog:

  1.8 Wed Apr 13 06:22:30 PDT 2011
     - Bump version to deal with CPAN/Perl versioning madness.

Sort of indicates you're likely running into similar issues.

[2011-12-19 23:09] kevinjc opened #11 "Solaris compile tips?"
I have two openssl version compiled for 64 bits (0.9.7g, and 1.0.0e) and a third for 32 bits (1d). I have two perls (both 5.8.7), one 32 and one 64.
Errors are about the same, can't verify that they are exactly the same but I think they are.

Here is the output from the 64 bit version of Perl and OpenSSL 0.9.7g
# /tools/gcc/3_4_2/bin/gcc -c  -I/tools/openssl/0_9_7g/include  -mcpu=v9 -m64 -Wa,-xarc

[2012-02-09 09:36] dbertolo opened #13 "Multiple mail addresses are returned without delimiter"
If multiple mail addresses are present in a certificate, $x509->email() returns all of them. But they are returned without delimiter. I suggest to return an array of addresses if sk_OPENSSL_STRING_num(emlst) is larger than one. Or to add a delimiter at least, if you prefer to have a single string as return value.

[2012-03-14 23:33] 0xxon opened #15 "Bug in sv_bio_utf8_on"
The line

[code]

in the function sv_bio_utf8_on

has to be changed to

[code]
- otherwise perl coredumps when encountering a certificate with adjacent non-utf8 characters (in this case cur and start will be equal).

[2012-08-14 17:31] zjt opened #16 "only compiles with gcc"
Makefile.PL has

cc_optimize_flags('-O2 -g -Wall -Werror');

which are flags that only work with gcc

which means that this modules does not compile using a different compiler

such as the Oracle/Sun Solaris Studio CC (/opt/SUNWspro/bin/cc)

[2012-08-15 15:36] zjt opened #17 "compiling against old version of openssl on solaris"
In order to compile against an old version of openssl, I needed to make the following change.

in X509.c: change
-    ASN1_i2d_bio((i2d_of_void*)i2d_ASN1_HEADER, bio, (unsigned char *)&ah);
-    ASN1_i2d_bio(i2d_ASN1_HEADER, bio, (unsigned char *)&ah);

This information might be useful some day to somebody out there on the internets

[2013-01-11 22:10] karenetheridge opened #22 "Discrepancies in documentation with as_string() method"
The SYNOPSIS says:

[code]

..but later on, FORMAT_TEXT is not listed as an accepted option for as_string.

Also, `$x509->as_string(Crypt::OpenSSL::X509::FORMAT_TEXT)` doesn't seem to return anything, so it appears that it is indeed not an accepted option.  (Inspection of the code confirms this - FORMAT_TEXT is not checked for, so the function returns nothing.)

[2013-01-21 22:31] karenetheridge opened #23 "Subroutine Crypt::OpenSSL::X509::pub_exponent redefined"
[code]

[2013-08-06 10:22] markov2 opened #25 "Manpage typos"
The manpage of Crypt::OpenSSL::X509 shows:

   extensions_by_oid ( ) =item extensions_by_name ( ) =item extensions_by_long_name ( )

You need twice a separating blank line...

[2013-08-13 01:30] #13 closed, assigned to nobody

[2013-08-13 01:33] #15 closed, assigned to nobody

[2013-08-13 01:34] #2 closed, assigned to nobody

[2013-08-13 01:34] #10 closed, assigned to nobody

[2013-08-13 01:35] #17 closed, assigned to nobody

[2013-08-13 01:36] #22 closed, assigned to nobody

[2013-08-13 01:36] #23 closed, assigned to nobody

[2013-08-13 01:38] #25 closed, assigned to nobody

[2013-09-26 15:58] cpuwhiz22 opened #28 "Add Option for OpenSSL 'nameopt'"
Hello,

I was wondering if it would be possible to add the ability to define name options which are used with the 'nameopt' flag for OpenSSL?  I believe the default name options are being used at the moment, and they are not compliant with RFC2253.  Further, some applications require specific name formats for Issuer and subject.  It would be helpful to be able to use the name options available to

[2013-10-02 11:17] markov2 opened #29 "Compilation error on older OpenSSLs"
When compiling with older OpenSSL versions, we get

   usr/include/openssl/asn1.h:991: note: expected `int (*)(void *,
   unsigned char **)' but argument is of type`int (_)(struct ASN1_HEADER
   *, unsigned char *_)'
   make: **\* [X509.o] Error 1

I do not know which version is required as minimal, but I guess 1.0.1

[2013-10-29 18:06] Casao opened #30 "Will not compile in OSX Mavericks"
Does not compile in OSX Mavericks. This is the only Crypt::OpenSSL module that has this issue. OpenSSL itself is installed via homebrew, this happens whether using cpanm or full cpan.

Build log below.

[code]

[2013-11-21 17:00] joehep opened #31 "Error trying to "make""
I'm trying to install on a Centos 4 system and get the following output:

[jbreeden@gallium Crypt-OpenSSL-X509-1.803]$ perl Makefile.PL
Checking if your kit is complete...
Looks good
Unrecognized argument in LIBS ignored: 'ARRAY(0x15303030)'
Writing Makefile for Crypt::OpenSSL::X509

[jbreeden@gallium Crypt-OpenSSL-X509-1.803]$ make
cp X509.pm blib/lib/Crypt/OpenSSL/X509.pm
/usr/bin/perl "-Iinc" /

[2013-12-01 17:06] #29 closed, assigned to nobody

[2013-12-01 17:11] #30 closed, assigned to nobody

[2013-12-01 17:12] #16 closed, assigned to nobody

[2013-12-01 17:12] #7 closed, assigned to dsully

[2013-12-01 17:15] #31 closed, assigned to nobody

[2013-12-02 13:55] bouktin opened #32 "Crypt::OpenSSL::X509 XS compilation failing for new 1.804 version"
Hello Dan,

First, thanks for your work on this module, it is greatly appreciated.

I have attempted to install Crypt::OpenSSL::X509 on Centos6 (perl v5.10.1) and the XS module build fails despite working for version 1.803

the error is:

[code]

Find more details below. Please don't hesitate to contact me for more information.

OS information

[code]

CPAN installation

[code]

Manual installatio

[2013-12-04 09:46] PhilippSoehnlein opened #33 "utf8 test fails"
Installing Crypt::OpenSSL::X509 1.804 fails on MacOS 10.6 with system perl:

<pre>sudo /usr/bin/cpan Crypt::OpenSSL::X509
CPAN: Storable loaded ok (v2.18)
Going to read /Users/phil/.cpan/Metadata
 Database was generated on Tue, 03 Dec 2013 11:53:03 GMT
CPAN: YAML loaded ok (v0.84)
Going to read /Users/phil/.cpan/build/
............................................................................DON

[2014-03-30 16:14] bcarroll opened #34 "Error compiling 1.804 on SPARC Solaris 10"
I edited Makefile.PL and added /usr/sfw/local/include so the openssl header files could be located.
    inc '-I/usr/include/openssl -I/usr/local/include/ssl -I/usr/local/ssl/include -I/usr/sfw/include';

[code]

I am still getting an error when I compile Crypt::OpenSSL::X509 though.

root@devbox [/usr/local/cpan/Crypt-OpenSSL-X509-1.804]# make
cc -c  -I/usr/include/openssl -I/usr/local/include/ssl

[2015-01-04 23:59] filefrog commented on #28
Can you provide the workaround you are currently using, and include the OpenSSL version you have?  I may be able to get a better feel for how you intend to use nameopts that way.

In the meantime, I'm going to go read [RFC 2253](http://www.ietf.org/rfc/rfc2253.txt).

[2015-01-05 00:06] filefrog commented on #28
Here's some documentation from OpenSSL on its `-nameopt` option:

https://www.openssl.org/docs/apps/x509.html#name_options

[2015-01-05 00:19] cpuwhiz22 commented on #28
I am currently using openssl's nameopt to get the issuer dn reversed as
well as a few other options.  If I could do this with this module it would
save me from using an object of this class, and then making a separate
system call to openssl to get a issuer string I need.  I don't have access
to my code at the moment, but if you'd like I can get the specific openssl
line I am using with the nameopt

[2015-01-05 00:22] filefrog commented on #28
I think I get it.  It seems like we can just add parameter to the as_string() function of X509::Name object, and default it to the current implicit default of 'oneline'.  I'll take a look at it and see if I can't get a pull request in to dsully.

[2015-01-05 00:23] cpuwhiz22 commented on #28
Sounds good!  Thanks for looking into this!
On Jan 4, 2015 7:22 PM, "James Hunt" <notifications@github.com> wrote:

[2015-01-05 15:17] filefrog commented on #28
cpuwhiz22

The more I look at this, the more I think -nameopt is better handled through `issuer_name->entries` and `subject_name->entries`, which return each component of the DN in an array, where you can (via Perl) pick out the type (CN, SN, O, etc.) and values and format them however you see fit.

OpenSSL has a ton of -nameopt formats!

Can you provide an example of what you were trying to do th

[2015-01-05 15:58] cpuwhiz22 commented on #28
Here is what I am presently doing:

my $reverseissuer = `openssl x509 -noout -in $temp_cert_file -issuer
-nameopt oneline,dn_rev -nameopt -space_eq \| awk -F 'issuer= ' '{print
\$2}'`;

On Mon, Jan 5, 2015 at 10:17 AM, James Hunt <notifications@github.com>
wrote:

[2015-01-05 16:30] filefrog commented on #28
Try this:

[code]

[2015-01-05 16:43] cpuwhiz22 commented on #28
I haven't run this yet, and it looks like it will work to reverse the
issuer string, however it won't address character escaping, separators,
etc.  This may not be an issue for my use, but there may be others which
may want to be able to control the name options.  I don't know that the
effort is worth it though.  I only wanted to suggest it :-)

On Mon, Jan 5, 2015 at 11:30 AM, James Hunt <notific

[2015-01-05 18:26] filefrog commented on #28
Separators effectively exist in Perl-space now, since you can choose whatever crazy key/value, or rDN separator you want.  As for encoding, the module uses utf8, and I don't think that's likely to change.

Escaping is in similar waters.  OpenSSL (HEAD) defines the following escape disciplines:

- ASN1_STRFLGS_ESC_2253 - escapes characters per the RFC
- ASN1_STRFLGS_ESC_CTRL - escapes all control c

[2015-01-05 18:38] filefrog commented on #28
Ha!  Apparently the module already supports that, via `$entry->type(1)`

[2015-01-05 18:43] filefrog commented on #32
Can this be closed?

[2015-01-05 18:54] cpuwhiz22 commented on #28
Nice.  Thanks for all the info!
On Jan 5, 2015 1:38 PM, "James Hunt" <notifications@github.com> wrote:

[2015-01-05 20:53] #32 closed, assigned to nobody

[2015-01-05 20:53] #28 closed, assigned to nobody

[2015-01-27 13:34] filefrog commented on #33
I have been able to reproduce this problem on OpenSSL 0.9.8m and 0.9.8o;  I'm going to attempt to narrow down specific versions that have this bug and see if there is anything that Crypt::OpenSSL::X509 can do to work around it.

[2015-01-27 13:35] filefrog commented on #11
@kevinjc, I just wanted to follow up on this and see if you are still having issues compiling on Solaris or not.  I don't have access to a Solaris environment, but may still be able to assist.

[2015-01-27 13:36] filefrog commented on #34
@bcarroll, what specific sub-version of OpenSSL are you using?  0.9.8o?  0.9.8b?

[2015-02-11 12:01] ppisar opened #39 "Fails to build with GCC 5.0: logical not is only applied to the left hand side of comparison"
The -Werror compiler option makes all warnings fatal. GCC 5.0 emits a new warning:

[code]

These look like genuine errors. At least from semantic point of view. For example:

[code]

[2015-02-11 12:32] ppisar commented on #39
Proposed fix:

[code]

[2015-02-11 12:41] dsully commented on #39
Thanks, can you submit a GitHub pull request?

[2015-02-11 13:19] ppisar commented on #39
On Wed, Feb 11, 2015 at 04:41:11AM -0800, Dan Sully wrote:

I can't. The patch has been posted to this this thread.

-- Petr

[2015-02-11 13:28] dsully commented on #39
Why can't you? You obviously have a GitHub account.

[2015-02-11 13:32] ppisar commented on #39
On Wed, Feb 11, 2015 at 05:28:11AM -0800, Dan Sully wrote:

I don't like the github license. Thus I do not share any code there. Also the
web interface full of javascript does not taste me.

-- Petr

[2015-02-11 13:49] dsully commented on #39
Not very practical in my opinion. I suggest you reconsider your stance.

Sent from my iPhone

[2015-02-13 11:06] dverdin opened #40 "Badly parsed subjectAltName"
The email method is great but it has a flaw:

When a subjectAltName is set in the certificate with several alternate email addresses like, e.g.:
address1@domain.tld
address2@domain2.tld

email returns : address1@domain.tldaddress2@domain2.tld

It should return an array of emails if several addresses are found in this field.
Problem: this change is not backward compatible.
What about implementing a

[2015-03-15 20:47] sgielen opened #41 "Add issuer_hash"
Please add a method 'issuer_hash', which returns a hash of the issuer subject just like 'hash' returns a hash of the subject. This is anologous to openssl x509's `-issuer_hash` parameter, and can be used to quickly find the issuer certificate since they are often stored as ${issuer_hash}.0.

[2015-06-04 21:10] shailesh882 opened #42 "Crypt-OpenSSL-X509: Cannot install on Windows 2008 R2"
Hi,

I am not able to install Crypt::OpenSSL::X509 on a Windows machine using CPAN. Can you help me out? Below some additional information. Can someone please help me on this issue. I would really appreciate your help.

Perl Version:-
----------------------------------------------------------------------------------------
$ perl -v

This is perl 5, version 12, subversion 3 (v5.12.3) built for MSWi

[2015-09-29 18:20] sorin-manole opened #44 "META.yml version tag is incorrect"
https://github.com/dsully/perl-crypt-openssl-x509/blob/c1fadbcf332c25d54d3c4f6f2adbdd0936238e8a/META.yml

[code]

should be 1.806

[2015-10-02 08:03] legart commented on #39
I can see that the fix has been applied, it is possible you could make a new release? Thanks!

[2015-10-09 14:38] chorny opened #45 "-Werror creates problems"
Strawberry perl 5.18 has

[code]

in win32.h, which with "-Werror" dies with

[code]

See for ex. http://www.cpantesters.org/cpan/report/6b653933-6c13-1014-a8f7-67a372e8df79

[2015-11-20 15:32] jonasbn opened #46 "Issue building on OSX 10.11 (El Capitan) / Perl 5.20.2"
I am experiencing some issues building on OSX 10.11 (El Capitan) / Perl 5.20.2. My perl is a perlbrew perl installation (see details at the bottom)

[code]

Perl version information:

[code]

[2015-11-23 19:52] skington opened #47 "Makefile.PL incorrectly reports libcrypto not available"
On a Debian 7.9 box, using Perl 5.20.3 installed via perlbrew, I get

dpkg --list and locate suggest that it's installed:

But those paths aren't in the list of paths searched:

If I remove the check for libcrypto in Makefile.PL, make and make tests run happily.

[2015-12-15 07:42] andk opened #48 "-Werror=logical-not-parentheses problem on linux"
Since August my Linux smoker has not been able to compile Crypt-OpenSSL-X509-1.806:

[code]

HTH&&Thanks,

[2016-01-13 12:50] salaun-renater opened #49 "new_from_file should fail on an incorrect certificate file"
Hello,

I'm using Crypt::OpenSSL::X509 version 1.804 on an ubuntu server.
I have a badly formated certificate file and I expect the new_from_file() call to fail while loading it. However it doesn't, even though command-line call to openssl on the same server fails. See below.

# perl
use Crypt::OpenSSL::X509;
$x509 = Crypt::OpenSSL::X509->new_from_file('should_raise_an_error.crt',Crypt::OpenSSL::X

[2016-02-09 20:34] Athanasius opened #50 "Easily accessing "X509v3 Subject Alternative Name""
Am I missing something or is the best you can do:

[code]

which in my case results in "0...www.fysh.org..fysh.org" being printed due to "FIXME: the value is returned as a string but may represent a complex object." ?

So I'm going to have to munge that string back into the list of alternate names, rather than have an object handed to me that I can somehow iterate over.  I did try $x509->subject_n

[2016-02-09 21:08] Athanasius commented on #50
And that stringified object isn't even in any way consistent.  I get "$VAR1 = '0...www.fysh.org..fysh.org';" for one and yet "$VAR1 = '03..squirrelmail.fysh.org';sm.fysh.org." for another, and "$VAR1 = '0..\rmail.fysh.org';" for yet another (using Data::Dumper there, and explicitly put the \r in the last one myself).

So, is there a way to consistently turn that string back into some sort of objec

[2016-02-09 21:27] Athanasius commented on #50
I can see that the C .xs code is doing:

[code]

so thought perhaps Convert::ASN1 would help, but it doesn't seem to handle such strings either.  Maybe I'm missing some trick with unpack() ?  For now I've figured out that the two characters before each entry match /\.[\.\r]/, at least for my examples so far.

[2016-02-12 10:28] zebardy commented on #39
Can I also add myself to requesting a new release containing this patch. Many thanks.

[2016-02-20 23:48] FGasper commented on #33
@jhunt have you managed to narrow this down at all? Any idea of a workaround/fix?

[2016-02-22 19:07] FGasper commented on #33
@dsully Since this test is skipped for modern OpenSSL versions anyway, would it not make sense just to remove them?

It’s breaking for me with OpenSSL 0.9.8e (CentOS 5) and Perl 5.22.1 on Linux.

[2016-04-05 15:32] PhilippSoehnlein commented on #48
Same problem on Mac OS X 10.11 (El Capitan).
Setting the parenthesis the right way in X509.xs and running `perl Makefile.PL && make && make install` afterwards seems to work.

[2016-10-11 18:43] jonasbn commented on #48
This seems to be fixed in PR #43 release: 1.807 - https://metacpan.org/source/DANIEL/Crypt-OpenSSL-X509-1.807

[2016-10-11 18:48] jonasbn commented on #44
This error seems to be present in release 1.807 as well. Ref: https://metacpan.org/source/DANIEL/Crypt-OpenSSL-X509-1.807/META.yml

[2016-10-12 09:19] ppisar opened #53 "Fails to build with OpenSSL 1.1.0"
After upgrading OpenSSL to 1.1.0b the build fails like this:

[code]

[2016-10-13 08:27] sebastianas commented on #53
https://github.com/dsully/perl-crypt-openssl-x509/pulls

can you get this tested please?

[2016-10-13 09:01] ppisar commented on #53
It emmits these fatal warnings:

gcc -c  -I/usr/include/openssl -I/usr/local/include/ssl -I/usr/local/ssl/include -D_REENTRANT -D_GNU_SOURCE -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -fwrapv -fno-strict-aliasing -I/usr/local/include -D_LARGEFILE_SOURCE -D_FILE_OFFSET_B

[2016-10-27 10:25] ppisar commented on #53
The <https://github.com/dsully/perl-crypt-openssl-x509/pull/55> fixes the warning. Tested with OpenSSL 1.1.0b and 1.0.2j.

[2016-11-25 20:35] Chuckatron commented on #47
I just encountered this and finally discovered I was missing the `libssl-dev` package

[2017-01-20 13:26] jonasbn commented on #46
I have not observed this issue with my latest work related to PR: #56, so I will close this for now. I made a basic [PR](https://github.com/dsully/perl-crypt-openssl-pkcs12/pull/12) for [perl-crypt-openssl-pkcs12](https://github.com/dsully/perl-crypt-openssl-pkcs12), but it is a _hack_ and I am not proud of it.

The hack basically turns an **error** into a **warning** - in general not a good idea.

[2017-01-20 13:26] #46 closed

[2017-02-22 03:48] genio opened #57 "Installing on Mac with HomeBrew"
Crypt::OpenSSL::X509 refuses to install on Macs where OpenSSL is installed via homebrew.

[code]

Is generally the path taken in this circumstance, however, with Crypt::OpenSSL::X509, one must:

[code]

Could you please alter the Makefile.PL to use the above ENV variables if they're set?

[2017-05-03 17:06] dhairyareddy opened #59 "can't load X509.so"
Hi,

I am insatlling Crypt::OpenSSL::X509 module and running test program is giving following error..

Really appreciate the help!

Can't load '/usr/lib64/perl5/site_perl/5.8.8/x86_64-linux-thread-multi/auto/Crypt/OpenSSL/X509/X509.so' for module Crypt::OpenSSL::X509: /usr/lib64/perl5/site_perl/5.8.8/x86_64-linux-thread-multi/auto/Crypt/OpenSSL/X509/X509.so: undefined symbol: NETSCAPE_X509_it at /

[2017-05-03 17:10] dhairyareddy commented on #59
make test failed too

$cd Crypt-OpenSSL-X509-1.807
$ make test
PERL_DL_NONLAZY=1 "/usr/bin/perl" "-MExtUtils::Command::MM" "-MTest::Harness" "-e" "undef *Test::Harness::Switches; test_harness(0, 'inc', 'blib/lib', 'blib/arch')" t/00-version.t t/pod.t t/utf8.t t/x509-ec.t t/x509.t
t/00-version.t .. 1/1 # Running Crypt::OpenSSL::X509 test suite against OpenSSL 0.9.8e-fips-rhel5 01 Jul 2008
t/00-vers

[2017-05-03 17:36] dhairyareddy commented on #11
@kevinjc I am seeing same issue, please post changes you have to do to solve this issue.
Thanks

[2017-05-08 19:47] kevinjc commented on #11
Yikes. That was a long time ago. I don't have all those original notes, but I was able to find some.

So, following the unused variable "ax" warning/error, my notes pick up here. No information in between, but I appear to have switched to using the  1.0 version of headers from the OpenCSW.
I also switched build hosts, so not sure if that was just in an effort to get off the user's system onto a sa

[2017-05-23 21:03] cbiedl commented on #50
Tough luck. Problem is, the `ASN1_STRING_print` function used by `value` replaces unprintable characters with '.', thus destroying the asn1 data the value consists of.

Therefore I strongly suggest to create a new function `value_raw` (or change the behaviour of `value` at the risk of an API break) to use `ASN1_STRING_print_ex(bio, X509_EXTENSION_get_data(ext), 0);` instead so this mangling so lon

[2017-05-23 21:04] cbiedl commented on #40
@dverdin, careful with that split operation, it rather works by accident. See #50 for the underlying problem.

[2017-06-29 18:54] dur-randir commented on #53
Hi @dsully, can you release a version to CPAN with this fix? Both Debian 9 and Archlinux are out with openssl 1.1.0, so this module can't be built using cpan on them, you have to install from git.

[2017-06-30 23:10] dsully commented on #53
Not yet - there's another build problem:

[code]

[2017-06-30 23:13] #48 closed

[2017-08-25 20:14] tla commented on #59
Hi - I'm having the same issue, Mac OS X Sierra 10.12.6, perl 5.26.0, openssl 1.0.2l installed via Homebrew. The `make` works fine but the tests all fail as above:

[code]

[2017-11-10 12:46] jonasbn commented on #57
Hello,

This might have been addressed in the latest release 1.8.8, which contains a patch I made, could you please verify?

Have a nice weekend,

jonasbn

[2017-11-10 12:48] jonasbn commented on #59
Hi @tla

Your issue might have been addressed in the latest release 1.8.8, which contains a patch I made, could you please verify?

Have a nice weekend,

jonasbn

[2017-11-10 20:01] tla commented on #59
Yes that seems to have taken care of it (though I've upgraded to High Sierra in the meantime.) Many thanks!

[2017-11-22 15:53] jonasbn commented on #44
@dsully this issue has been addressed and it can be closed :-)

[2017-11-23 01:20] #44 closed

[2017-11-23 17:30] haarg opened #66 "Crypt::OpenSSL::X509::Extension as_string named wrong"
The `as_string` method is improperly implemented as `to_string` on the Crypt::OpenSSL::X509::Extension class.  It should be renamed, but with `to_string` as an alias for backwards compatibility.

[2018-01-29 03:46] arun-m-v opened #67 "install fail for Crypt::OpenSSL::X509 with many undefined reference"
I am getting following errors while trying to install this module in strawberry perl

This is perl 5, version 26, subversion 1 (v5.26.1) built for MSWin32-x64-multi-thread. (OS Win-10)
==========================================

cpan> install Crypt::OpenSSL::X509
Reading 'D:\perl\cpan\sources\authors\01mailrc.txt.gz'
............................................................................DONE

[2018-04-23 20:55] FGasper opened #69 "ECC support?"
# Issue Template

## Description

The SYNOPSIS suggests that this library only deals with certificates whose public key is RSA. I see what looks like ECC support, though, in the .xs file. Does this library accommodate certificates with ECC keys?

[2018-06-11 05:30] cypa commented on #53
+1
got same error on python 2.7 on openbsd 6.3

[2018-11-05 12:44] eserte opened #71 "Can't locate inc/Module/Install.pm"
On perl installations where "." is not anymore in `@INC` (i.e. newer perls) building the distribution fails:
[code]
Probably can be fixed by prepending a `use lib "."`.

[2018-11-05 12:49] jonasbn commented on #71
Hi @eserte

Thanks - I will investigate

[2018-11-05 12:51] eserte commented on #71
A possible patch: http://cpan.cpantesters.org/authors/id/S/SR/SREZIC/patches/Crypt-OpenSSL-X509-1.811-issue71.patch

[2018-11-05 12:52] jonasbn commented on #71
Thanks - I will review

[2018-11-21 20:43] mikequentel commented on #71
Thanks @eserte the patch worked successfully...able to run `patch < Crypt-OpenSSL-X509-1.811-issue71.patch` and it patched the `Makefile.PL`

Then successfully ran:
```/usr/bin/perl Makefile.PL INSTALLDIRS=vendor 'OPTIMIZE=-O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -specs=/usr/lib/rpm/redh

[2018-11-22 18:49] jonasbn commented on #71
I just read up on the issue in [this post](https://www.effectiveperlprogramming.com/2017/01/v5-26-removes-dot-from-inc/) by brian d foy.

So what the patch effectively does is circumvent the security measure implemented in Perl 5.26 - but I guess we need to do this in order to build.

[2018-11-22 18:59] jonasbn commented on #71
Patch included in release 1.8.12, just uploaded to PAUSE/CPAN - thanks @eserte

[2018-11-22 18:59] #71 closed

[2018-11-27 14:46] vipera opened #72 "Not before / Not after as epoch"
Hi! I'm enjoying this module and it would be great if it could return the x509 not before / not after as a UNIX timestamp instead of just as a formatted date.

I'm thinking about something like this:
[code]

Since OpenSSL 1.1.1 there's an `ASN1_TIME_to_tm` function that simplifies this. I've already made a build that works by calling that function and exposing two additional accessors, but I'm won

[2019-03-21 13:07] manison opened #73 "BIO double free in CRL_Issuer"
This line

https://github.com/dsully/perl-crypt-openssl-x509/blob/91fbfceb5e3c31ca179be933cc1b653ed0a01900/X509.xs#L1588

causes the BIO to be freed twice which may result in segmentation fault.

[2020-05-05 15:49] eserte commented on #57
On MacOSX Mojave with openssl from homebrew I have to use the following CPAN.pm distroprefs file for successful installation:
https://github.com/eserte/srezic-cpan-distroprefs/blob/e0d0843a0e28eb9d75ea762c32773e76a884161e/Crypt-OpenSSL-....yml#L8-L10
The highlighted sections is the args which have to be provided to "perl Makefile.PL".

[2020-11-05 16:26] toddr commented on #53
This issue looks to be resolved now?

[2020-11-05 16:34] ppisar commented on #53
I think all the necessary fixes were released in 1.808 version.

[2020-11-05 16:34] #53 closed

[2020-11-06 09:39] perlpunk opened #77 "Question about the version format"
This is not an issue with the module itself.
I am maintaining the perl module repository [devel:languages:perl](https://build.opensuse.org/project/show/devel:languages:perl) in SUSE's Open Build Service, and for historical reasons we take the module version as it is (and can't easily change that).
But for rpm, 1.9 will be lower than 1.813.
I know it is not required, but it would help us a lot if a

[2020-11-06 16:13] jonasbn commented on #77
Hi @perlpunk

My bad - I will have a look at it tonight

[2020-11-06 16:17] jonasbn commented on #59
Closing this issue based on above comment

[2020-11-06 16:17] #59 closed

[2020-11-06 16:33] perlpunk commented on #77
Just wanted to note - it's not a bug. For perl, the versions are correct, because 1.9 is semantically equal to 1.900.0.
Just that several linux vendors historically just took the versions as they are, and in their versioning system the order is different.

[2020-11-06 18:58] #77 closed

[2020-11-06 20:37] jonasbn commented on #73
Is this due to the same thing happening in line [1600](https://github.com/dsully/perl-crypt-openssl-x509/blob/91fbfceb5e3c31ca179be933cc1b653ed0a01900/X509.xs#L1600) ?

[2020-11-06 20:52] jonasbn commented on #39
This was fixed with release 1.8.7

PR: #43 from Bernhard M. Wiedemann ( @bmwiedemann )

[2020-11-06 20:52] #39 closed

[2020-11-06 20:55] jonasbn commented on #45
So the suggestion is to _tweak_ the compiler flags for Windows to avoid this issue?

[2020-11-06 21:09] jonasbn commented on #57
I am closing this issue, since I regard it as fixed and original poster has not responded.

[2020-11-06 21:09] #57 closed

[2020-11-06 21:13] jonasbn commented on #47
This does not look like it was an issue with the Perl distribution.

[2020-11-06 21:13] #47 closed

[2020-11-06 22:21] perlpunk commented on #77
Thanks!

[2020-11-11 07:30] manison commented on #73
Yes, first free is at line 1588 and second at line 1600.

[2020-11-12 06:27] #73 closed

[2020-11-12 12:23] jonasbn commented on #73
Addressed in release 1.9.2 (1.902)

[2020-11-14 09:08] jonasbn commented on #73
Thanks @manison

[2021-01-24 09:50] jonasbn opened #80 "rt.cpan.org deprecation"
Add bug report section

[2021-04-07 16:33] skaji opened #81 "Failed to build perl-crypt-openssl-x509 on M1 Mac"
## Description

The default path of homebrew for M1 Mac has been changed from `/usr/local` to `/opt/homebrew`.
As a result, we cannot build perl-crypt-openssl-x509 on M1 Mac.

I think we can follow https://github.com/radiator-software/p5-net-ssleay/pull/158 :
[code]

### Expected behaviour

Successfully build perl-crypt-openssl-x509 on M1 Mac

### Actual behaviour

Failed to build perl-crypt-opens

[2021-04-08 05:54] #81 closed

[2021-04-08 07:15] jonasbn commented on #81
Hi @skaji

I have just uploaded a release (1.903 / 1.9.3) with your proposed patch. I do not have access to a Apple M1 or a newer `brew` install, could you please test it when possible and report any issues.

Thanks for your issue report and patch.

[2021-04-08 14:20] phanousk opened #83 "wrong output of emails"
If a certificate contains more e-mails in Alternative name, ie:
[code]

the output from `$x509->email()` function is very badly parsable as there is no delimiter between the mail addresses:
`petr.hanousek@cesnet.czphanousek@cesnet.cz`.

I suggest to change the return value of that function to an array. Maybe in case of only one mail address could remain scalar.

Openssl: OpenSSL 1.1.1d  10 Sep 201

[2021-04-08 14:27] skaji commented on #81
I was able to install Crypt-OpenSSL-X509-1.903.
@jonasbn Thank you!

[code]

[2021-04-09 05:14] jonasbn commented on #83
This surely looks like a bug, thank you

[2021-04-09 07:16] phanousk commented on #83
Unfortunatelly not new. Sorry for raising new issue when there is already https://github.com/dsully/perl-crypt-openssl-x509/issues/40 .
Petr

[2021-04-11 18:32] jonasbn commented on #83
Hi @phanousk

I will close this issue, but I will see if I can find the time to address #40

Thanks for reporting the bug anyway - good to know it is still relevant #40 is somewhat old

[2021-04-11 18:32] #83 closed

[2021-04-21 13:37] vague666 opened #84 "1.904 errors out on CentOS 7(at least)"
## Description

Can't install 1.904 on CentOS 7

### Expected behaviour

Dist installs successfully

### Actual behaviour

1.904 errors out with
`cc1: error: -Werror=pointer-bool-conversion: no option -Wpointer-bool-conversion`
1.903 installs successfully

## Operating system and version
[code]

`Linux localhost.localdomain 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x

[2021-04-21 23:34] gmbow commented on #84
I am getting the same error when trying to install version 1.904 of `Crypt::OpenSSL::X509` on perl 5.32, running on Linux RedHat 6.10.

Version 1.903 installs just fine.

Install log:

	cpanm (App::cpanminus) 1.7044 on perl 5.032001 built for x86_64-linux-thread-multi
	Work directory is /appli/stats/P/safir/tools/.cpanm/work/1619046204.27202
	You have make /usr/bin/make
	You have LWP 6.52
	You hav

[2021-04-21 23:43] timlegge commented on #84
Same error for me.  The issue is that -Werror will trigger an error that should otherwise work fine.  I dealt with it in Crypt-OpenSSL-Verify by using it only for AUTHOR_TESTING

https://github.com/timlegge/perl-Crypt-OpenSSL-Verify/commit/e43029a8c7eda377ef45b66179d77cec839d1a14

[2021-04-22 05:37] eserte commented on #84
From all my smoker systems, compilation is successful only on freebsd 12 and 13. It fails on the following systems: Debian (wheezy, stretch, buster, bullseye), Ubuntu (16.04, 18.04, 20.04), CentOS (6, 7, 8), Fedora.

[2021-04-22 05:44] eserte commented on #84
I checked 821d24c1cd877ccee873e22c39aaf025af1fea80 on a debian/jessie system and compilation was successful.

[2021-04-22 05:46] jonasbn commented on #84
hi @vague666

Thanks for the error report a new version 1.9.5 has just been released and uploaded to PAUSE/CPAN.

I have adjusted the compiler options to so I no longer pass the LLVM option: `-Wno-error=pointer-bool-conversion` unless I detect a LLVM substring in the in `gccversion` string.

My C-compiler _foo_ is not the best so I might introduce issues when tweaking this options in an attempt to

[2021-04-22 05:46] #84 closed

[2021-04-22 06:11] vague666 commented on #84
Thanks for the quick response, I'll try to upgrade 1.903 later today :)

[2021-04-28 23:54] timlegge opened #86 "Version number in META.yml is incorrect"
# Issue Template
Version number in META.yml is incorrect
## Description

Version number in META.yml is incorrect

### Expected behaviour

Correct verion in META.yml

### Actual behaviour

Some indexing issues were mentioned on irc

## Operating system and version

N/A

[2021-05-02 17:40] jonasbn commented on #86
Yes I noticed, Module::Install is not particularly helpful.

![issue86](https://user-images.githubusercontent.com/75423/116822261-29c5f400-ab7e-11eb-95d2-b7ec81264a20.png)

[2021-05-02 17:49] jonasbn commented on #86
I have just uploaded release version 1.907 this should address the issue.

The Module::Install documentation describes the use of an `.author/` directory in `inc/`, this does not seem to work, so I had to remove the `inc/`directory manually - I will keep an eye on the `META.yml` file.

Thinking about moving to [Dist::Zilla](https://metacpan.org/release/Dist-Zilla), since [Module::Install](https://

[2021-05-02 17:49] #86 closed

[2021-05-02 19:28] timlegge commented on #86
Hi

I did some work on Dist:Zilla for Crypt-OpenSSL-Verify here is the dist.ini
that I used.  I thought I had a version that looked for the libraries but I
can't find it at the moment...

Tim

name    = Crypt-OpenSSL-Verify
abstract = OpenSSL Verify Perl Module
author  = Original Author: Timothy Legge ***@***.***>
copyright_holder = Timothy Legge, see the git log
; [...]
license = Perl_5
[Meta::Ma

[2021-06-17 02:45] ikedas commented on #50
This issue seems to have been solved to some extent by ac9f148.

[2021-07-31 23:57] timlegge opened #89 "Missing certs/smime.pem cause tests to fail"
# Issue Template

## Description
make test fails with:

ok 56 - serial()
Crypt::OpenSSL::X509: Failed to create BIO at t/x509.t line 102.

ok($x509 = Crypt::OpenSSL::X509->new_from_file('certs/smime.pem'), 'new_from_file()');

certs/smime.pem dioes not exist

### Expected behaviour

run without error

### Actual behaviour

make test fails

## Operating system and version

Alpine edge 5.34 perl
###

[2021-08-01 00:02] timlegge commented on #89
you need to:

make mainfest

prior to the release

[2021-08-01 07:57] jonasbn commented on #89
Thanks @timlegge

I have merged your PR for Windows testing using GitHub Actions also (#85), it would not have caught this issue, but it will at least help me with potentional Windows issues.

[2021-08-01 08:04] jonasbn commented on #89
Fixed in version 1.9.10, just uploaded to PAUSE/CPAN

[2021-08-01 08:04] #89 closed

[2021-10-05 11:50] ont-stil-dk commented on #66
Still Open. But at least Google found me this work-around (use to_string). Yay.

[2021-11-06 22:30] jonasbn opened #91 "Look into supporting OpenSSL 3"
See: https://github.com/openssl/openssl/blob/master/doc/man7/migration_guide.pod

[2021-11-06 22:46] timlegge commented on #91
I was looking at it a while ago.  Its definitely a bit of work...

[2021-12-03 18:23] timlegge commented on #50
I was looking at https://stackoverflow.com/questions/70174655/how-to-properly-obtain-san-using-perl-library-cryptopensslx509

It took me a while but I did figure it out:

[code]

[2021-12-10 01:45] ikedas opened #94 "INC and LIBS are hardcoded"
## Description

I tried to automate testing of [Sympa](/sympa-community/sympa) with GitHub Actions workflow, then have a problem with macOS environment: It has both `openssl@3` and `openssl@1.1` installed, hardcoded `inc` and `libs` in `Makefile.PL` point the former and therefore building module fails.

Specifying `INC=...` and `LIBS=...` as command line arguments for MakeMaker is discouraged. Bec

[2021-12-13 18:31] #66 closed

[2021-12-13 18:34] #40 closed

[2021-12-13 18:34] #50 closed

[2022-01-09 11:50] racke opened #95 "Install fails for Perl 5.20"
## Description

This module causes an abort for my Sympa Gitlab job: https://salsa.debian.org/sympa-team/sympa/-/jobs/2352397
All other Perl versions tested work fine.

Failure:

[code]
Expiring 3 work directories.
FAIL
Cleaning up file based variables
00:01
ERROR: Job failed: exit code 1

### Expected behaviour

Installs without failure.

### Actual behaviour

Install fails, see above.

## Operat

[2022-01-18 18:58] jonasbn commented on #94
Hi @ikedas

From the output you have included, it seems as if you are using OpenSSL 3, this is currently not supported, please see issue #91.

The `Makefile.PL` uses the path from `brew` dynamically, is it different for this particular environment? This repositorys own actions report no issues with the implemented approach.

[2022-01-18 19:24] jonasbn commented on #95
Up to now I have not been able to reproduce the issue, I can see the same issue in reports from CPAN testers, but noluck reproducing at this time.

My proposed solution is to add:

`-Wnoerror=unused-function` in `Makefile.PL`

But I cannot test it currently and make sure it works, since I cannot reproduce it.

I am wondering if this is due to the perls built for **plenv** and with _multi-threading

[2022-01-18 19:25] jonasbn commented on #94
Successful build using own actions can be located [here](https://github.com/dsully/perl-crypt-openssl-x509/actions/workflows/macos.yml)

[2022-01-18 19:29] jonasbn commented on #45
My proposed solution is to add:

`-Wnoerror= comment` in `Makefile.PL`

But I cannot test it currently and make sure it works, since I cannot reproduce it.

[2022-01-18 19:32] timlegge commented on #95
See
https://github.com/timlegge/perl-Crypt-OpenSSL-Verify/commit/e43029a8c7eda377ef45b66179d77cec839d1a14

On Tue, Jan 18, 2022 at 3:25 PM Jonas Brømsø ***@***.***>
wrote:

[2022-01-18 19:33] jonasbn commented on #95
@timlegge that is a good approach, I will see if I can accomodate

[2022-01-19 01:58] ikedas commented on #94
Only some of builds are unsuccsessful (build logs are [here](https://github.com/sympa-community/sympa/actions/runs/1557921976)).  Because, some virtual environments for macOS have both openssl 3 & 1.1 and `/usr/local/.opt/openssl` links to `openssl@3`, while some others have only 1.1 and `openssl@1.1` is used.  The former ones fail to build, and the latter ones success.

[2022-02-09 00:02] skaji opened #97 "Idea: using Crypt::OpenSSL::Guess"
## Description

Detecting openssl libraries is difficult.

There is a module that concentrates on that task, [Crypt::OpenSSL::Guess](https://metacpan.org/pod/Crypt::OpenSSL::Guess).
So how about using Crypt::OpenSSL::Guess in perl-crypt-openssl-x509's Makefile.PL?

### Expected behaviour

use Crypt::OpenSSL::Guess

### Actual behaviour

not using Crypt::OpenSSL::Guess

## Operating system and vers

[2022-02-20 15:03] jonasbn commented on #97
Hi @skaji

This sound very very interesting, but I need some time to evaluate the proposed enhancement.

[2022-02-24 15:28] skaji commented on #97
@jonasbn Thank you for your reply.
I'm going to create a PR so that you can evaluate the use of Crypt::OpenSSL::Guess.

[2022-02-24 15:35] skaji commented on #80
Now we set the github issue as bugtracker.
https://metacpan.org/release/JONASBN/Crypt-OpenSSL-X509-1.913-TRIAL/source/META.json#L43

[2022-03-14 14:50] michal-josef-spacek commented on #94
@ikedas I believe that https://github.com/dsully/perl-crypt-openssl-x509/pull/104 will help to move to resolving bugs with OpenSSL 3.

[2022-03-15 09:48] ikedas commented on #94
It looks promising for me.  I'll try it if it will be included in the next release.  Thanks!

[2022-04-25 18:14] #95 closed

[2022-04-25 18:14] #45 closed

[2022-04-26 09:05] jonasbn commented on #80
Information on what bug tracker to use is implemented in 1.913 and will be further documented in 1.914

[2022-04-26 09:05] #80 closed

[2022-04-26 09:13] jonasbn commented on #97
#104 implements this

[2022-04-26 09:13] #97 closed

[2022-04-26 09:17] jonasbn commented on #94
This is addressed via #104

[2022-04-26 09:17] #94 closed

[2022-04-26 15:50] jonasbn commented on #94
Hi @ikedas and @michal-josef-spacek

This has been included in the release [1.9.14-TRIAL](https://github.com/dsully/perl-crypt-openssl-x509/releases/tag/1.9.14-TRIAL), just uploaded to PAUSE/CPAN.

Please let me know if you experience any issues or have any feedback. The 1.9.14 release will be made in due time depending on the outcome/feedback of the trial release.

Thanks for your contributions.

[2022-04-26 15:51] jonasbn commented on #80
Hi @skaji

This has been included in the release [1.9.14-TRIAL](https://github.com/dsully/perl-crypt-openssl-x509/releases/tag/1.9.14-TRIAL), just uploaded to PAUSE/CPAN.

Please let me know if you experience any issues or have any feedback. The 1.9.14 release will be made in due time depending on the outcome/feedback of the trial release.

Thanks for your contributions.

[2022-04-26 15:51] jonasbn commented on #97
Hi @ikedas and @michal-josef-spacek

This has been included in the release [1.9.14-TRIAL](https://github.com/dsully/perl-crypt-openssl-x509/releases/tag/1.9.14-TRIAL), just uploaded to PAUSE/CPAN.

Please let me know if you experience any issues or have any feedback. The 1.9.14 release will be made in due time depending on the outcome/feedback of the trial release.

Thanks for your contributions.

[2022-06-06 11:54] anuthamako opened #111 "Checkend returning certificate expired for any time as input"
Checkend function always returning certificate expired for the below certificate:

[cert.txt](https://github.com/dsully/perl-crypt-openssl-x509/files/8844171/cert.txt)